# Learning Hub backend
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
.env
.env.*
db.sqlite3
*.log
htmlcov/
.coverage
.pytest_cache/
.mypy_cache/
node_modules/
staticfiles/
media/
*.egg-info/
dist/
build/
.git
.github
